.containerCarousel{
    @apply container flex flex-col items-center mt-9;
}

.coverImage{
    @apply rounded;
}

.imageCarousel{
    @apply hover:underline;
}

.coverImage:hover{
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    @apply blur-sm opacity-100;
}
