.cardAnime {
  @apply text-center flex flex-col items-center h-full p-2 m-5 rounded;
  background-image: linear-gradient(#f1d329, #d65b08);
}

.cardAnime:hover{
  background-image: linear-gradient(90deg, #f1d329, #d65b08);
  transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -moz-transform: scale(0.95);
  -ms-transform: scale(0.95);
  -o-transform: scale(0.95);
  transition: 1s ease;
  -webkit-transition: 1s ease;
  -moz-transition: 1s ease;
  -ms-transition: 1s ease;
  -o-transition: 1s ease;
}

.animeBox{

}

.image-card{
  @apply opacity-70;
}

.image-card:hover{
  @apply opacity-100 blur-md;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}

.textCard{
  @apply font-bold text-[#ffffff] mt-2;
}

.containerContent{
  @apply min-h-screen text-white text-xl md:text-base flex flex-col items-center justify-center;
}

.btnContent {
  @apply flex flex-row w-[80%] text-xl md:text-sm my-1 items-center justify-center;
}

.btnWatch {
  @apply text-center bg-orange-600 text-xl m-2 w-[100%] md:m-2 hover:bg-orange-400 hover:transition-colors text-white p-2 rounded font-bold;
}

.imageCard {
  @apply mb-5 rounded-lg;
}

.cardsContainer {
  @apply md:mb-14 container items-center justify-center flex flex-wrap;
}

@media screen and (max-width: 1000px) {
  .btnContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
