
.homeContent{
    width: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 1705px){
    .homeContent{
        width: 100%;
    }
}

@media screen and (min-width: 1706px){
    .homeContent{
        width: 90%;
    }
}
