.nameSerie{
    width: max-content;
}

.carouselDb{
    display: block;
}

.carousselContainer{
    @apply container flex flex-col items-center mt-9 w-screen;
}

.headerCaroussel{
    @apply container bg-gray-700 flex p-2 flex-row justify-between items-center w-screen border-gray-700 rounded-t-lg;
}

.dbEps{
    display: none;
}

.imgDB{
    width: 15rem;
}

@media screen and (min-width: 1284px){
    .carouselDb{
        display: none;
    }
    .dbEps{
        display: block;
    }
}